
h1 {
    text-align: center;
}

nav ul li {
    background-color: aqua;
    display: inline;
    padding: 10% 10% 10% 


    
    }

    img {
        margin-left: 400px;
        margin-right: 500px;
    }
